<?xml version="1.0"?>
<robot name="origins">
	
  <link name="world">
  </link>

   <link name="table">
    <visual>
	  <geometry>
        <box size="1.0 1.0 1.0"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

     <joint name="j1" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="world"/>
      <child link="table"/>
    </joint>
	
</robot>

